URxvt*font: xft:Fira Mono:regular:size=11:antialias=true:hinting=true
URxvt*boldFont: xft:Fira Mono:bold:size=11:antialias=true:hinting=true
URxvt*italicFont: xft:Fira Mono:italic:size=11:antialias=true:hinting=true
URxvt*boldItalicFont: xft:Fira Mono:bold:italic:size=11:antialias=true:hinting:true

URxvt.background: black
URxvt.foreground: white
URxvt.scrollBar: false

Xcursor.theme: Adwaita
Xcursor.size: 16
